.top h1{
    font-family: 'Roboto Slab', serif;
}
a,.newUse{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.logCartImg{
    width: 30rem;
    height: 30rem;
}
@media screen and (max-width:1445px){
    .logCartImg{
            width: 35rem;
            height: 30rem;
    }
    .logCont{
        padding: 2rem 2rem;
    }
}
@media screen and (max-width:1250px){
    .logCont{
        flex-direction: column;
    }
    .logCartImg{
        width: 100%;
        height: 450px;
        margin: 2rem auto;
    }
    .loginForm h1,.loginForm h3{
        text-align: center;
    }
    .logFormBottom{
        justify-content: center;
    }
    .loginForm{
        padding-right: 0;
    }
    .authip{
        width: 100%;
        max-width: 80rem;
    }
    .altLogin{
        width: 100%;
        justify-content: center;
    }
    .top{
        margin: 0;
        padding: 2rem;
    }
    
}
.loginButton{
    margin-left: 0.5rem;
    padding: 1.5rem 5rem;
    border: none;
    background-color: rgb(146, 56, 231);
    border-radius: 40px;
    letter-spacing: 1.5px;
}
@media screen and (max-width:450px){
    .top{
        padding: 1rem;
    }
    .top h2{
        font-size: 1.3rem;
    }
    .top span{
        font-size: 0.8rem;
    }
    .loginButton{
        padding: 0.6rem 2rem;
        margin-right: 0;
        font-size: 1rem;
    }
    .fgPass{
        font-size: 1rem;
        margin-top: 0.8rem;
    }
    .logFormBottom{
        justify-content: space-between;
    }
    .loginForm h1{
        font-size: 2rem;
    }
    .compLog{
        width: 10rem;
    }
    .logCartImg{
        height: 350px;
    }
}
input:focus{
    outline: none;
}
.sample{
    position:relative;
}
.newUser span{
    transition: font-size 150ms ease-in-out;
}
@keyframes authAnim{
    from{
        opacity: 0;
        position: relative;
        right: 3rem;
    }
    to{
        opacity: 1;
        position: relative;
        right:0rem;
    }
}

@keyframes logAnim{
    from{
        opacity: 0;
        position: relative;
        left: 3rem;
    }
    to{
        opacity: 1;
        position: relative;
        left:0rem;
    }
}
.loginForm{
    animation: authAnim 500ms;
}

.logForm{
    animation: logAnim 500ms;
}
.PhoneInput{
    border: 1.8px solid blueviolet;
    padding: 1.5rem 0 1.5rem 1.7rem;
    font-size: 1.1rem;
}
.PhoneInput--focus{
    border: 1.8px solid green;
}
input{
    transition: border-color 100ms ease-in-out;
}